<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel De Administración</title>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
</head>
<body>
    <main class="container">
        <!--VENTANA PRINCIPAL-->
        <section id="main-content">
            
        </section>

        <!--NAVBAR-->
        <aside class="navmenu">
            <nav>
                <h3 id="brand-container">
                    J<span class="char-color">R</span>M<span class="char-color">F</span>
                </h3>
                <ul id="options-container">
                    <li class="li-options" id="option-home"><a data-url="home.jsp">Home</a></li>
                    <li class="li-options" id="option-createUser"><a data-url="createUser.jsp">Crear Usuarios</a></li>
                    <li class="li-options" id="option-listUsers"><a data-url="listUsers.jsp">Ver Usuarios</a></li>
                    <li class="li-options"><a href="#" onclick="logoutUser(event)">Cerrar Sesión</a></li>
                </ul>
                <h4 id="footer-container">V1.0</h4>
            </nav>
        </aside>

        <button id="btn-theme">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
                <path d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 
                0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 
                141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 
                720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 
                59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z"/>
            </svg>
        </button>
    </main>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/themeMode.js"></script>
</body>
</html>