<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel De Administración</title>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
</head>
<body>
    <main class="container">
        <!--VENTANA PRINCIPAL-->
        <section id="main-content">
            
        </section>

        <!--NAVBAR-->
        <aside class="navmenu">
            <nav>
                <h3 id="brand-container">JRMF</h3>
                <ul id="options-container">
                    <li class="li-options" id="option-home"><a data-url="home.jsp">Home</a></li>
                    <li class="li-options" id="option-createUser"><a data-url="createUser.jsp">Crear Usuarios</a></li>
                    <li class="li-options" id="option-listUsers"><a data-url="listUsers.jsp">Ver Usuarios</a></li>
                    <li class="li-options"><a href="#" onclick="logoutUser(event)">Cerrar Sesión</a></li>
                </ul>
                <h4 id="footer-container">V1.0</h4>
            </nav>
        </aside>
    </main>
    <script src="../assets/js/main.js"></script>
</body>
</html>